body 
{
    font-family: 'Times New Roman', Times, serif;
    display: block;
    color:antiquewhite;
    background: whitesmoke;
    font-size:medium;
    font-weight:lighter;
    text-align:center;
    margin-top: 5px;

}

.main{
    background-color:lightgray;
    margin-top: 500px;
}

button{
    color: black;
    border: 1px solid black;
    background: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    font-weight: bold;
}

.main2 {
    display: flex;
    justify-content: center;

}

.item {
    text-align: center;
    border: 1px black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    ç
}

.avatar{
    width: 150px;
    display: flex;
    
    }

.passport {
    font-style: italic;
    border-radius: 100px;
    border:dotted black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;

    
}